/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #92dacb;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f1f1;
    padding: 15px 30px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.club-name {
    color: #180a02;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #0fb7bd;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ffcc00;
}
